<template>
  <div class="hello">
    <quill-editor v-model="content"></quill-editor>
    <quill-renderer :content="content"></quill-renderer>
  </div>
</template>

<script>
import QuillEditor from '../components/QuillEditor.vue'
import QuillRenderer from '../components/QuillRenderer.vue'

export default {
  name: 'hello',
  components: {
    QuillEditor,
    QuillRenderer
  },
  data () {
    return {
      content: {},
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
