<template>
  <div ref="quill"></div>
</template>

<script>
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'



export default {
    props: {
        value: Object,
    },
    data() {
        return {
            quill: null,
        }
    },
    mounted() {
        if (!this.$isServer) {
            let options = {
                placeholder: 'Compose an epic...',
                theme: 'snow',
                modules: {
                    toolbar: [
                        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                        ['blockquote', 'code-block'],

                        [{ 'header': 1 }, { 'header': 2 }],               // custom button values
                        [{ 'list': 'ordered'}, { 'list': 'bullet' }],

                        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                        [{ 'align': [] }],
                        ['image'],
                        ['clean']                                         // remove formatting button
                    ]
                }
            };

            let Quill = require('quill')

            this.quill = new Quill(this.$refs.quill, options)
            window.quill = this.quill
            this.quill.emitter.on('editor-change', (type, delta) => {
                if (type === 'text-change') {
                    this.$emit('input', this.quill.getContents())
                }
            })
        }
    }
}
</script>

<style>

</style>
